page-login {
  video {
    position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
  }
  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
   ion-card.card {
     box-shadow: none;
     background: rgba(0, 0, 0, 0.5);
     border-radius: 12px;
   }
   a, p,
   ion-card-title.card-title {
     color: #fff;
   }
   .item {
     margin-botton: 10px;
     background: rgba(255, 255, 255, 0.5);
     border: mediun nome;
   }

    }
