<ion-content class="cards-bg">
<ion-item>
    <ion-segment [(ngModel)]="options">
      <ion-segment-button value="explore" (ionSelect)="filterMenu($event)">
        Explorar
      </ion-segment-button>
      <ion-segment-button value="favorites" (ionSelect)="filterMenu($event)">
        Favoritos
      </ion-segment-button>
      <ion-segment-button value="score" (ionSelect)="filterMenu($event)">
        Calificación
      </ion-segment-button>
      <ion-segment-button value="routeMap" (ionSelect)="filterMenu($event)">
        Ruta
      </ion-segment-button>
    </ion-segment>
  </ion-item>
<div>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
   </div>
<ion-list>
  <ion-item *ngFor="let bakery of filteredBakeries">
    <ion-card class="adv-map" >
      <div style="position: relative">
      <img src="assets/imgs/panaderia1.gif">
        <ion-fab right top>
          <button ion-fab class="fab-map" color="transparent" (click)="changeFavoriteStatus(bakery)">
            <ion-icon name='heart-outline' *ngIf=!bakery.isFavorite></ion-icon>
            <ion-icon name='heart' *ngIf=bakery.isFavorite color=danger></ion-icon>
          </button>
        </ion-fab>
      </div>
      <ion-item>
        <ion-icon name="restaurant" color="subtle" item-start large></ion-icon>
        <h2>{{bakery.nombre}}</h2>
        <p>{{bakery.direccion}}</p>
        <button ion-button icon-start clear item-end color="rate">
          <ion-icon name="star"></ion-icon>
          <div>{{bakery.score}} Estrellas</div>
        </button>
      </ion-item>

      <ion-item actions color="light">
        <span ion-text item-start color="secondary" class="item-bold">18 min</span>
        <span ion-text item-start color="subtle">(2.6 km)</span>
        <button ion-button color="primary" clear item-end icon-start (click)="howToGo(bakery)">
          <ion-icon name='navigate'></ion-icon>
          Ir
        </button>
      </ion-item>

    </ion-card>
  </ion-item>
</ion-list>
</div>
    </ion-content>
